---
- name: Restart tor
  ansible.builtin.systemd:
    name: tor
    state: restarted

- name: Stop tor
  ansible.builtin.systemd:
    name: tor
    state: stopped

- name: Restart monit
  ansible.builtin.systemd:
    name: monit
    state: restarted
