{% for hs in onion_hostname_results.results %}
{% if hs.stdout is defined %}An Onion Service for /var/lib/tor/{{ hs.item.key }}/ was created or the address is not present in your vars file. It's reachable via '{{ hs.stdout }}'. Don't forget to add hostname and privatekey to your vars file. {% endif %}
{% endfor %}
