---

package:
  tor:
    installed: true
service:
  tor:
    enabled: true
    running: true
file:
{% for key, value in onion_services|dictsort %}
{% if value.onion_version is not defined or value.onion_version|int == 3 %}
  /var/lib/tor/{{ key }}/hs_ed25519_public_key:
    exists: true
  /var/lib/tor/{{ key }}/hs_ed25519_secret_key:
    exists: true
{% endif %}
{% endfor %}
